body
{
  background: linear-gradient(to bottom right,#0492c2,#63c5da);
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}
.main
{
  background-color: #FFFFFF;
  width: 400px;
  height: 550px;
  margin: 50px auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.sign
{
  padding-top: 40px;
  color: #0492c2;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 23px;
}
.un
{
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Montserrat', sans-serif;
}
    
    form.form1 {
        padding-top: 2 0px;
    }
   
    .un:focus{
        border: 2px solid rgba(0, 0, 0, 0.18);
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to bottom right,#0492c2,#63c5da);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    .submit:active{
        outline: none;
    }
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        margin-right: -10px;
        padding-top: 15px;
    }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #8cd5ed;
        text-decoration: none
    }
.f{
   text-decoration: none;
    color: #ffffff;
}
    .or {
  position: relative;
  top: 20px;
  left: 185px;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom right,#0492c2,#63c5da);
  color: white;
  font-family: 'Montserrat',sans-serif;
  font-size: 15px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}
button.google{
  background: #F8F8FF;
  position: relative;
  left: 90px;
  top: 35px;
}
button.google{
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}
button.google:hover,
button.google:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}
button.google:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}
.glogo{
    position: relative;
    top: 37px;
    left: 53px;
    opacity: 1;
    height: 15px;
}
.g{
    color: #000000;
    opacity: 0.8;
}